*.class
*.zip
/(JAVA) Aula 012 - Netbeans Helloworld/HelloWorld2/nbproject/private/
/(JAVA) AULA 013 - Netbeans  OO Conta Bancaria/ContaBancaria/nbproject/private/
/(JAVA) AULA 013 - Netbeans  OO Conta Bancaria/ContaBancaria/build/
*.rar
/(JAVA) Aula 012 - Netbeans Helloworld/HelloWorld2/build/
/(JAVA) Aula 014 - Greve/TrabalhoGreve/nbproject/private/
/(JAVA) Aula 014 - Greve/TrabalhoGreve/build/
/(JAVA) Aula 015 - Greve (livros)/GreveLivros/nbproject/private/