*.class
*.zip
/(JAVA) Aula 012 - Netbeans Helloworld/HelloWorld2/nbproject/private/
/(JAVA) AULA 013 - Netbeans  OO Conta Bancaria/ContaBancaria/nbproject/private/
/(JAVA) AULA 013 - Netbeans  OO Conta Bancaria/ContaBancaria/build/
*.rar